<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-image hide-panel-body">  
            <img src="/banner2.jpg" class="panel-image-preview">
          </div>
          <div class="panel-footer text-center">
            <div class="row">
            <div class="col-sm-2">
              <img src="/avatar2.png" height="50px" width="50px" class="rounded-image">
            </div>
            <div class="col-sm-10">
              <h3><%=current_user.username %></h3>
            </div>
            <div class= "col-sm-6" style="font-size:80%; opacity:0.7">TWEETS<br />
            <h4 style="color:#F44336"><%=  Post.where(user_id: current_user.id.to_s ).count %></h4>
            </div>
            <div class= "col-sm-6" style="font-size:80%; opacity:0.7">FOLLOWERS<br />
            <h4 style="color:#F44336">0</h4>
            </div>
            </div>
          </div>
        </div>
        <%= render '/layouts/trend_topic' %>
    </div>
    
    <div class="col-xs-6">
      <%= render '/components/new_post' %>
      <% for post in @posts %>
      
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            
            <div class="col-sm-1">
              <img src="avatar2.png" class="rounded-image" height=50px width=50px ><!-- avatar2 feito por Freepik -->
            </div>
            
            <div class="col-sm-11">
              <p class="post-content"><span class="post-owner"><%= link_to(User.find_by_id(post.user_id).username.to_s, "/user/"+User.find_by_id(post.user_id).username) %></span> - <span class="post-creation"><%= post.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content"><%= post.content.capitalize %></p>
            </div>
            
            <div class="col-sm-12">
              <p class="post-links">
                <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
              </p>
            </div>
            
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p style="opacity:0.5"> ©  2017  Twitter  About  Help  Terms  Privacy  Cookies  Ads  info  Brand  Blog  Status  Apps  Jobs  Businesses  Media  Developers</p>
          </div>
        </div>
    </div>
</div>
