
<div class="row">
    <div class="col-xs-3">
        <div class="col-sm-12" style="margin-top:-210px">
          <img src="/avatar2.png" height="200px" width="200px">
        </div>
        <div class="col-sm-12">
          
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 style="font-weight:600"><%= params[:id] %></h3>  
              <p></p>
            </div>  
          </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <%= render '/components/new_post' %>
        <% for post in @posts %>
      
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-1">
              <img src="/avatar2.png" class="rounded-image" height=50px width=50px ><!-- avatar2 feito por Pixel Perfect -->
            </div>
            
            <div class="col-sm-11">
              <p class="post-content"><span class="post-owner"><%= User.find_by_id(post.user_id).username %></span> - <span class="post-creation"><%= post.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content"><%= post.content.capitalize %></p>
            </div>
            
            <div class="col-sm-12">
              <p class="post-links">
                <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
              </p>
            </div>
            
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-3">
      <%= render '/layouts/who_to_follow' %>
      <%= render '/layouts/trend_topic' %>
    </div>
</div>